div {
    background-color: rgb(33, 235, 43);
}

.width {
    width: 400px;
}

.max-width {
    max-width: 400px;
}

.min-width {
    min-width: 400px;
}

.height {
    height: 50px;
}

.min-max {
    min-height: 50px;
    max-height: 60px;
}