p {
    background: orange;
    width: 400px;
}

.p-p {
    /* padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px; */
    padding: 20px 30px 40px 50px;
}

.d {
    background-color: aqua;
    width: 500px;
    height: 200px;
}

.box-p {
    padding: 90px;
    box-sizing: border-box;
}