.principal {
    width: 800px;
    height: 800px;
    background-color: silver;
    margin: auto;
}

.est {
    width: 100px;
    height: 100px;
    background-color: grey;
    position: static;
    left: 150px;
    top: 150px;
}

.rel {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    left: 150px;
    top: 150px;
}

.abs {
    width: 100px;
    height: 100px;
    background-color: lime;
    position: absolute;
    left: 150px;
    top: 150px;
}

.fix {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: fixed;
    left: 250px;
    top: 150px;
}