img {
    float: right;
    width: 170px;
    height: 170px;
    margin-left: 15px;
}

.none {
    display: none;
}

.block {
    padding: 10px;
    background: grey;
    display: block;
}

.linea {
    padding: 10px;
    background: aqua;
    display: inline;
}

.line-block {
    padding: 10px;
    background: orange;
    display: inline-block;
    width: 150px;
}


/* en los comentarios */