* {
    margin: 0;
    padding: 0;
}

div {
    background-color: black;
    /* margin-top: 100px;
    margin-bottom: 40px;
    */
    width: 80px;
    margin: 0 auto;
    /* margin-left: 30px; */
}

p {
    color: white;
    /* margin-right: 30px; */
}

.negro {
    color: black;
}