div {
    width: 80px;
    height: 80px;
    background-color: green;
    transform: translatex(130px);
}

.translate {
    background-color: blue;
    color: white;
    border-radius: 5px;
    transform: translate(-20px, 50px);
}