.first {
    border: black 5px solid;
    margin: 10px;
    padding: 10px;
}

.first p:first-child {
    color: aqua;
}

a:link {
    background-color: brown;
}

a:visited {
    background-color: chartreuse;
}

.hover {
    width: 100px;
    height: 200px;
    background: cyan;
}

.hover:hover {
    width: 200px;
    height: 250px;
    background: black;
}

.active {
    background-color: chartreuse;
    color: black;
}

.active:active {
    background-color: blue;
    color: white;
}

input:focus {
    border: blue 2px solid;
    padding: 2px;
}

.before:before {
    content: "Esto es before";
}

.after:after {
    content: "Esto es after";
}