.context {
    box-sizing: content-box;
    background: aqua;
    width: 100px;
    height: 100px;
    padding: 40px;
    border: 5px solid lightblue;
}

.border {
    box-sizing: border-box;
    background: black;
    width: 100px;
    height: 100px;
    padding: 40px;
    border: 5px solid lightblue;
}